h3 {
  margin: 2px;
}

.sidebar {
  position: relative;
  display: inline-block;
  top: -333px;
  width: 250px;
  margin: 10px;
  padding: 0;
}

.pdflists {
  padding: 5px;
  list-style-type: none;
}

.pdflist {
  list-style-type: none;
}
