h3 {
  margin: 2px;
}

.sidebar {
  position: relative;
  display: inline-block;
  top: 0px;
  width: 250px;
  margin: 10px;
  padding: 0;
}

.pdflists {
  padding: 5px;
  background-color: #c0dbf3;
  list-style-type: none;
  border-radius: 5px;
}

.pdflist {
  list-style-type: none;
}

.pdfLink {
  font-size: 18px;
  text-decoration: none;
}
.pdfLink:hover {
  color: black;
  text-decoration: none;
}